* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background:url(../images/texture1.jpg) center no-repeat;
    background-size: cover;
    overflow: auto;
}

.container{
    display: flex;
    background: white;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    position: relative;
    align-items: center;
    box-sizing: border-box;
}

.navigation {
    max-width: 800px;
    width: 100%;
    display: flex;
    background: rgb(255, 255, 255);
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;
    height: 4rem;
    position: fixed;
    top: 0;
    left: auto;
    border-bottom: 1px solid rgb(231, 231, 231);
}

.name {
    font-size: 1rem;
    min-width: 12rem;
}

.name a {
    text-decoration: none;
    color: #0a2740;
    font-weight: bold;

}

.nav-options {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

.nav-options div {
    width: 6rem;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.nav-options div:hover {
    min-width: 6rem;
    background: rgb(246, 246, 246);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
   
}

.nav-options div a { 
    text-decoration: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color:rgb(0, 0, 0);
    box-sizing: border-box;
}


.nav-options div a:visited { 
    color: rgb(0, 0, 0);
}

.nav-options div:hover a { 
    color: rgb(4, 124, 164);
    border-bottom: 2px solid rgb(4, 124, 164);
    box-sizing: border-box;
}

.title {
    scroll-margin-top: 4rem;
    max-width: 100%;
    flex-direction: column;
    display: flex;
    color: rgb(5, 5, 5);
    margin-top: 4rem;
    padding: 4rem;
    align-items: center;
    background: url(../images/bg.jpg) center;
    background-size: cover;
    height: 350px;
    align-items: flex-end;
    box-sizing: border-box;
}

.title div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.title a {
    width: fit-content;
    text-decoration: none;
    background-color: rgb(234, 255, 0);
    padding: .5rem 1rem;
    height: 2rem;
    border-radius: 5px;
    color:rgb(0, 0, 0);
    font-weight: 600;
    align-items: center;
    display: flex;
    justify-content: center;
}

.title a:hover {
    background:rgb(224, 244, 0);
    color:rgb(30, 33, 0);
}

#services {
    scroll-margin-top: 6rem;
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    gap: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    width:100%;
    border: 1px solid rgb(215, 215, 215);
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box;
    align-items: center;
    border-radius: 5px;
}

.card img {
    width: 100%;
}

#aboutme {
    scroll-margin-top: 6rem;
}
.about-me {
    scroll-margin-top: -3rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    background: #e1e1e1;
    padding-top: 2rem;
}

.about-me div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: fit-content;
}

.about-me div img {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    height: fit-content;
    border-radius: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about-me div p {
    padding: 0 3rem;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    height: fit-content;
    margin-bottom: 1rem;
}

#write-me {
    scroll-margin-top: 6rem;
}

.whatsapp {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    background: white;
    padding: 2rem;
    box-sizing: border-box;
    border: 1px solid rgb(215, 215, 215);
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea, 
input {
    width: 50%;
    min-width: 360px;
    box-sizing: border-box;
}

textarea {
    border-radius: 5px;
    margin-top: 1rem;
    height: 8rem;
    padding: 2rem;
    resize: none;
    outline: none;
    border: 1px solid rgb(215, 215, 215);
}

input {
    border-radius: 5px;
    border: none;
    height: 2rem;
    margin-top: 1rem;
    background-color: rgb(234, 255, 0);
}

input:hover {
    border: none;
    height: 2rem;
    margin-top: 1rem;
    background-color: rgb(213, 232, 3);
}

#year {
    margin-right: 1px;
}


footer {
    width: 100%;
    background: #048ABF;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer a {
    text-decoration: none;
    color: rgb(213, 232, 3);
    margin: 0 10px;  
}

.modal-navbar {
    display: none;
    position: fixed;
    top: 4rem;
    transform: translateX(120px);
    width: 120px;
    height: fit-content;
    z-index: 10;
    background: #048ABF;
    transition: .7s ease-in-out;
    right: 0;
}

.visible {
    position: fixed;
    transform: translateX(-0px);    right: 0;
    width: 120px;
    height: fit-content;
    z-index: 10;
    transition: .7s ease-in-out;
}

.btn-link {
    width: 100%;
    box-sizing: border-box;
    display: flex;
}

section {
    width: 100%;
}

.btn-link:hover {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    background: #ffffff;
}

.btn-link:hover .link {
    width: 100%;
    color: #048ABF;
}


.fa-bars {
    display: none;
}

.fa-bars:hover {
    background: #ffffff;
}

.logo {
    display: none;
}


@media screen and (max-width: 580px) {
    .name a {
        display: none;
    }
    .logo {
        display: flex;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }
    .title {
        height: 300px;
    }

    .title h1 {
        font-size: 14px;
    }

    .services {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        gap: 1rem;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        transition: 1s ease-in-out;
    }

    .fa-bars { 
        font-size: 1.5rem;
        width:10%;
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #048ABF;
    }

    .nav-options div {
        display: none;
    }

    textarea,
    input {
        min-width: 100%;
    }

    .modal-navbar {
        display: flex;
        width: 120px;
        box-sizing: border-box;
        box-shadow: -1px 1px 2px 1px rgb(224, 224, 224);
    }

    .link {
        padding: 15px 10px;
        display: flex;
        text-decoration: none;
        color: #ffffff;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .about-me {
        
        width: 100%;
        padding: 1rem;
        box-sizing: border-box;
        background: transparent;
    }

    #about-me {
        background: #e1e1e1;
    }

    #aboutme {
        margin-top: 2rem;
        display: flex;
    }

    .whatsapp {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
        background: white;
        padding: 2rem 0;
        box-sizing: border-box;
        border: 1px solid rgb(215, 215, 215);
        border: none;
    }

    footer {
        font-size: 12px;
    }

}


