* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates:wght@500&display=swap');

:root {
    --bg-hover: rgb(9, 50, 61);
    --sky-color: rgb(24, 178, 229);
    --bg-dark: rgb(1, 11, 26);
    --nav-height: 5rem;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-size: cover;
    overflow: auto;
    background:var(--bg-dark);
}

.container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.swiper {
    width: 100%;
    height: 500px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-sizing: border-box;
    height: var(--nav-height);
    border-bottom: 1px solid rgb(231, 231, 231);
    position: relative;
}

.name {
    font-size: 1.5rem;
    width: fit-content;
}

.name a {
    text-decoration: none;
    color:var(--sky-color);
    font-weight: bold;
}

.nav-options {
    display: flex;
    width: fit-content;
    height: 100%;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

.nav-options a {
    display: flex;
    padding: 10px;
    width: fit-content;
    min-width: fit-content;
    text-decoration: none;
    color: var(--sky-color);
}

.nav-options a:hover { 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color:var(--sky-color);
    background: var(--bg-hover);
    box-sizing: border-box;
}

.fa-bars {
    display: none;
}

#services { 
    width: 100%;
    height: 2rem;
    color: var(--sky-color);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 1rem;
    margin: 2rem 0;
}

.services-data {
    display: grid;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
}

.card {
    flex-grow: 1;
    display: flex;
    backdrop-filter: blur(6px);
    height: fit-content;
    height: 300px;
    max-height: 300px;
    width: 400px;
    position: relative;
}

.card img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    opacity: .5;
}

.card-name {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: white;
    font-size: 2rem;
    transition: .2s ease-in-out;
}

.card-name:hover {
    font-size: 3rem;
    transition: .2s ease-in-out;
}

.about-me {
    width: 100%;
    display: flex;
    height: fit-content;
    flex-direction: column;
}

.description {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 1rem;
    align-items: center;
}

.about-title {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--sky-color);
    margin: 2rem 0;
}

.content {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.content img, .content p {
    flex-grow: 1;
} 

p {
    max-width: 270px;
    height: 280px;
    color: white;
    text-align: justify;
    line-height: 1.5rem;
}

.img-me {
 max-width: 300px;
 object-fit: cover;
 max-height: 300px;
}

.whatsapp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#write-me {
    width: 100%;
    color: var(--sky-color);
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

#form {
    width: 100%;
    max-width: 600px;
    background: transparent;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

#form textarea {
    margin-top: 2rem;
    padding: 10px;
    height: 100%;
    width: 100%;
    resize: none;
    border: none;
    background: rgba(255, 255, 255, 0.363);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

textarea::placeholder {
    color: white;
}

input[type=submit] {
    width: 12rem;
    background: rgb(0, 181, 90);
    color: white;
    border: none;
    padding: 1rem;
    height: 3rem;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

footer {
    margin-top: 2rem;
    width: 100%;
    background: rgb(98, 98, 98);
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer a {
    margin: 0 5px;
    text-decoration: none;
    color: orange
}

@media screen and (max-width: 700px) {
    #form textarea {
        margin-top: 2rem;
    }
    .card-name:hover {
        font-size: 2.3rem;
        transition: .2s ease-in-out;
    }

    p {
        max-width: 100%;
        height:fit-content;
        color: white;
        text-align: justify;
        line-height: 1.5rem;
    }
    
    .img-me {
     max-width: 100%;
     object-fit: cover;
     height: fit-content;
    }

    .swiper {
        width: 100%;
        height: 300px;
        margin-top: 0;
    }
    .swiper img {
        width: 100%;
        object-fit: contain;
    }

    .fa-bars {
        display: flex;
        width: 2.5rem;
        height: 2.5rem;
        justify-content: center;
        align-items: center;
        color: var(--sky-color);
        font-size: 1.5rem;
    }

    .fa-bars:hover {
        background: var(--bg-hover);
        cursor: pointer;
    }

    .nav-options {
        opacity: 1;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: var(--nav-height);
        left: 0;
        background: var(--sky-color);
        width: 100%;
        z-index: 10;
        height: fit-content;
        transition: opacity 0.1s ease-in-out;
    }

    .nav-options a {
        width: 100%;
        color: var(--bg-dark);
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hide-nav {
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.1s ease-in-out;
    }
    
}


